@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.houses {

    max-width: 1100px;
    margin: 100px auto;
    padding: 0 20px;
}

.houses h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.house-grid {
    display: grid;
    grid-template-columns: 1fr; /* мобілка */
    gap: 20px;
}

@media (min-width: 768px) {
    .house-grid {
        grid-template-columns: repeat(3, 1fr); /* десктоп */
    }
}

@media (max-width: 768px) {
    .houses {
        max-width: 700px;
        margin: 0;
        padding: 0 20px;
        justify-content: center;
        align-items: center;
    }
    .house-grid {
        grid-template-columns: 1fr;

    }
}

.house-card {
    /*animation: fadeIn 1.2s ease-out forwards;*/
    border-radius: 15px;
    overflow: hidden;
    background: white;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.house-card:hover {
    transform: translateY(-5px);
}

.house-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.house-info {
    padding: 15px;
    text-align: left;
}

.house-info h3 {
    margin: 0;
    font-size: 18px;
}

.house-info p {
    font-size: 14px;
    color: #555;
    margin: 8px 0;
}

.house-info span {
    font-size: 12px;
    background: #f2f2f2;
    padding: 5px 10px;
    border-radius: 10px;
}

