@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');#root {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}



@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}
/*=================================================*/
.app{
    font-weight: 200;
    font-style: normal;
    justify-content: center;
    align-items: center;
}


.read-the-docs {
    color: #888;
}

body{
    margin:0;
    font-family: "News Cycle", sans-serif;
}

.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}




/*======ABOUT=====*/
/*About.css*/

/* ===== DESKTOP ===== */
/*ContactForm.css*/

/*======STEPS=====*/
/*Steps.css*/

/*======ADVANTAGES========*/
/*Advantages.css*/

/*=====CONTACT=====*/
/*ContactForm.css*/

/* ===== FAQ ===== */
/*FAQ.css*/

/*=======CONTACT==========*/
/*ContactPage.css*/

/*=========FOOTER==========*/
/*Footer.css*/

/* ===== МОБІЛКА ===== */
@media (max-width: 768px) {

    .footer-container {
        flex-direction: column;
        gap: 30px;
    }

    .footer-col {
        align-items: flex-start;
    }
}
/*============================*/