.profile-page {
    font-family: Inter, sans-serif;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background: #eaeaea;

    background-image: url("/imgs/stone2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}