.projects h2 {
    margin-top: 4%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 52px;
    color: #361500;
    font-family: "Rethink Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
    align-items: stretch;
}


.project-card {
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    /*border-left: 5px solid #ccc;*/
    transition: transform 0.2s;
    overflow: hidden;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.project-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.projec-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.projec-info h3 {
    margin: 0 0 10px 0;
    font-size: 1.3rem;
    color: #333;
}

.projec-info p {
    font-size: 0.95rem;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
    flex-grow: 1;


    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.projec-info span {
    font-size: 0.85rem;
    font-weight: bold;
    color: #253453;
    background: rgba(234, 234, 234);
    padding: 5px 12px;
    border-radius: 20px;
    align-self: flex-start;
}