.project-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.form{
    display: flex;
    flex-direction: column;

    /*border: 1px black solid;*/
    width: 100%;
}
.perks{
    /*border: 1px lightgrey solid;*/
    margin: 20px;
    padding: 20px;
    width: 90%;
    border-radius: 30px;
    box-shadow: 2px 2px 4px #ccc;
}
.project-form form h2{
    margin-bottom: 0;

    left:0;
    /*border:1px black solid;*/
    text-align: left;
}
.project-form p{
    text-align: left;
    color: darkgray;
    /*border: 1px black solid;*/
}
.project-form textarea,
input{
    margin-bottom: 10px;
    width: 100%;
    border:1px lightgrey solid;
    padding: 2px 4px;
    border-radius: 20px;
    height: 40px;

}
.save-btn{
    border-radius: 30px;
    background-color: rgb(37, 52, 83);
    color: white;
    padding: 20px 100px;
    font-weight: bold;
    font-size: 20px;
}

